Source: python-oauth2
Section: python
Priority: optional
Maintainer: SimpleGeo Nerds <nerds@simplegeo.com>
Uploaders: Chris Lea <chris.lea@gmail.com>, Ian Eure <ian@simplegeo.com>
Standards-Version: 3.8.4
XS-Python-Version: all
Build-Depends: debhelper (>= 4.1.13), cdbs (>= 0.4.49), python, python-setuptools, python-support, pyflakes, python-coverage (>= 2.85), python-mock
Homepage: http://github.com/simplegeo/python-oauth2

Package: python-oauth2
Architecture: all
XB-Python-Version: ${python:Versions}
Depends: ${python:Depends}, python-httplib2
Provides: ${python:Provides}
Suggests:
Description: A Python OAuth class with several useful
 features.
 .
 * 100% unit test coverage.
 * The Request class now extends from dict.
 * The Client class works and extends from httplib2.
   It's a thin wrapper that handles automatically signing
   any normal HTTP request you might wish to make.
