#!/usr/bin/make -f
# -*- mode: makefile; coding: utf-8 -*-

DEB_PYTHON_SYSTEM = pysupport

include /usr/share/cdbs/1/rules/debhelper.mk
include /usr/share/cdbs/1/class/python-distutils.mk

build/python-oauth2::
	pyflakes oauth2
	python-coverage run --branch --include=oauth2/* setup.py test
	python-coverage html -d $(ARTIFACTS)/htmlcov
